p{
    padding: 10px;
    font-size: 16px;
    min-width: 100px;
    width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
}
.title{
    background-color: rgb(255, 176, 213);
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: #f00;
}